.body {
  font-family: 'Shadows Into Light', cursive;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-image: url("./keys-background.jpg");
}

.header {
  background-color: whitesmoke;
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  flex-grow: 1;
  padding: 8rem 4rem;
}

.box {
  background-color: whitesmoke;
  border: black;
}

.main {
  display: flex;
  flex-direction: row;
}

.files-dropzone {
  background-color: green;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  cursor: pointer;
}
