.body {
  font-family: 'Shadows Into Light', cursive;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-image: url("./keys-background.jpg");
}

.header {
  background-color: whitesmoke;
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  justify-content: center;
}

.box {
  padding: 1.5rem;
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid;
  width: 30%;
  justify-content: space-between;
}

.box div:first-child{ /*Esto es re malefico*/
  width: 50%;
}

.main {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.files-dropzone {
  background-color: #7e93bf;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.canvas {
  width: fit-content;
}

.key-mode-input {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid;
  background-color: whitesmoke;
  width: 50%;
}

.mt5 {
  margin-top: 5vh;
}

.mt10 {
  margin-top: 10vh;
}

.key-input {
  font-size: 2vh;
}
