.body {
  font-family: 'Shadows Into Light', cursive;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-image: url("./keys-background.jpg");
}

.header {
  background-color: whitesmoke;
  display: flex;
  justify-content: center;
}

.container {
  margin-top: 20vh;
  display: flex;
  justify-content: center;
  flex-grow: 1;
}

.box {
  padding: 2rem;
  width: 80%;
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid;
}

.box div:first-child{ /*Esto es re malefico*/
  width: 50%;
}

.main {
  display: flex;
  flex-direction: row;
}

.files-dropzone {
  background-color: #7e93bf;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.canvas {
  width: fit-content;
}
